.box-1 {
  float: left;
  width: 300px;
  margin-left: 3em;
}

.box-2 {
  display: flow-root;
  float: left;
  margin: 0 auto;
  max-width: calc(100% - 700px);
  width: 100%;
  text-align: center;
  min-width: 300px;
  padding-bottom: 3em;
}

.box-3 {
  float: right;
  width: 300px;
  margin-right: 3em;
}

.box {
  margin-top: 3em;
}

@media(max-width: calc(900px + 7em)) {
  .box {
    margin: 0 auto;
    float: none;
  }
  .box-1 {
    text-align: center;
  }
  .box-3 {
    margin: 0 auto;
    float: none;
  }
}
