.btn {
  padding: .25rem .50rem;
  border-radius: .3rem;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: none;
  overflow: visible;
  font: inherit;
  text-decoration: none;
}

.btn-green {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-blue {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-yellow {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-red {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
  background-color: #6c757d;
}
