.obscured::after {
  content: "*********";
  cursor: text;
  font-size: 13px;
  background-color: #d8d8d8;
}

.obscured {
  display: inline-block;
  font-size: 0;
}

.new-token > code {
  background-color: #ffffcc;
}
