@import '../../node_modules/tippy.js/dist/tippy.css';
@import './boxes.css';
@import './header.css';
@import './create.css';
@import './button.css';
@import './management.css';

body, html {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}
